<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
    <div class="row">
        <div class="col-md-12 " id="clock">
                <div id="digitalClock">{{currentTime}}</div>
        </div>
    </div>
</div>

<div style="text-align:center">
  <h1>
    Connect 6
  </h1>
  <button (click)="click1()" > START </button>
  <h2> Turn: {{ turn }} 회 </h2>
</div>

<br/>
<body>
  <div id="main">
     <canvas id="board" width = "541" height="541"></canvas>
          <div id="smallcircle1"></div>
          <div id="smallcircle2"></div>
          <div id="smallcircle3"></div>
          <div id="smallcircle4"></div>
          <div id="smallcircle5"></div>
          <div id="smallcircle6"></div>
          <div id="smallcircle7"></div>
          <div id="smallcircle8"></div>
          <div id="smallcircle9"></div>         
</div>
</body>
        


  
