html, body{
        margin: 20px;
    }
    #board {
        margin: 20px;
        background-image: url("/static/images/board.jpg");
        background-repeat: no-repeat;
        background-position: center-top;
        width: 768px;
        height: 768px;
        background-size: contain;
        position: absolute;
    }
    #blackStone {
        background-image: url("/static/images/black.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        background-size: contain;
        position: absolute;
    }
    #whiteStone {
        background-image: url("/static/images/white.png");
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        background-size: contain;
        position: absolute;
    }
    li {
        list-style:none;
        padding-left:0px;
    }
